@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'LinearIcons';
  src: url('./assets/fonts/Linearicons/Linearicons-Free.ttf');
}

@font-face {
  font-family: 'BLANKA';
  src: url('./assets/fonts/BLANKA/Blanka-Regular.otf');
}

:root {
  font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --clr-primary-700: #674188;
  --clr-primary-hover: #401864;
  --clr-secondary-300: #c3acd0;
  --clr-neutral-200: #f7efe5;
  --clr-neutral-grey-300: rgb(183, 183, 183);
  --font-family-icon: LinearIcons, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  --logo-font: 'BLANKA', 'Courier New', Courier, monospace;
}

html,
body,
#root {
  min-height: 100svh;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}

button {
  border: none;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  background-color: var(--clr-primary-700);
  color: white;
  font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;
}

button:hover {
  background-color: #401864;
  color: white;
}

#root {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* @media (max-width: 45em) {
  #root {
    display: flex;
    flex-direction: column;
  }
} */

.errorPage {
  display: grid;
  place-items: center;
  width: 100%;
}

.scr-only {
  font-family: var(--font-family-icon);
  padding: 0 0.5rem 0 0.5rem;
  font-size: 1.25rem;
}

.logoFont {
  font-family: var(--logo-font);
  font-size: 2.5rem;
  margin: 0;
}

/* NAVIGATION */

.navigation {
  display: flex;
  /* background-color: var(--clr-neutral-200); */
  color: var(--clr-primary-700);
  gap: 0.75em;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  flex-wrap: wrap;
  box-shadow: 0 5px 5px rgba(80, 80, 80, 0.2);
  /* width: 100%; */
}

.mobileNavToggle {
  display: none;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin: 0;
  padding: 0;
  position: relative;
}

@media (max-width: 45em) {
  .navigation {
    padding: 1rem;
  }

  .navigation ul {
    position: fixed;
    justify-content: start;
    inset: 0 0 0 35%;
    flex-direction: column;

    background-color: white;
    color: var(--clr-primary-700);
    box-shadow: -5px 0 5px rgba(80, 80, 80, 0.3);
    z-index: 2;
    padding: min(30vh, 7rem) 2rem;
    transform: translateX(110%);
    transition: 0.3s;
  }

  .navigation ul[data-visible='true'] {
    transform: translateX(0);
  }

  .mobileNavToggle {
    display: block;
    background-color: white;
    color: var(--clr-primary-700);
    padding: 0.5rem;
    font-size: 2.5rem;

    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    z-index: 999;
    border: none;
  }

  .mobileNavToggle:hover {
    color: var(--clr-primary-700);
    background-color: white;
  }
}

.navigation li {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0.75rem 0 0.75rem 0;
}

a,
a:visited {
  text-decoration: none;
}

.navigation a {
  text-decoration: none;
  position: relative;
}

.navigation a::before,
.navigation a.active::before {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: var(--clr-primary-700);
  transition: 0.3s;
}

.navigation a:hover::before,
.navigation a.active::before {
  width: 100%;
}

.navLogo {
  height: 2rem;
}
/* MAIN */
main {
  display: grid;
  grid-template-columns:
    [full-width-start] minmax(1rem, 1fr) [content-start] min(100% - 2rem, 60rem)
    [content-end] minmax(1rem, 1fr) [full-width-end];
  grid-template-rows: auto 1fr;
  padding: 1.5rem 0 1.5rem 0;
}

main p {
  max-width: 55ch;
  margin-top: 0.25rem;
}

main > * {
  grid-column: content;
}

.contentWrapper {
  padding: 1rem 0 1rem 0;
  display: grid;
  gap: 1.5rem;
}

.contentWrapper a {
  /* padding: 0.5rem; */
  margin: 0.5rem 0 0.5rem 0;

  color: var(--clr-primary-700);
}

.contentWrapper a:hover {
  text-decoration: underline;
}

/* CASE STUDIES */
.caseLinkWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 1.5rem 0 2rem 0;
}

.imageLink {
  position: relative;
  height: 35svh;
  border-radius: 10px;
  filter: drop-shadow(3px 3px 3px rgba(80, 80, 80, 0.5));
}

.imageLink:hover {
  background-color: var(--clr-primary-hover);
}

.imageLink h2 {
  color: white;
  position: absolute;
  top: 1rem;
  /* left: 1rem; */
  background-color: var(--clr-primary-700);
  width: 100%;
  padding: 0.5rem 0 0.5rem 0.5rem;
  font-size: 1.25rem;
}

.imageLink h2:hover {
  background-color: var(--clr-primary-hover);
}

.imageLink img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.9;
}

/* CASE STUDY */

hr {
  margin: 1.5rem 0 1.5rem 0;
}

.artMuseumHero {
  background-image: url('./assets/images/ArtMuseum/Artmockups.png');
}

.caseStudyHero {
  position: relative;
  padding: 2rem 0 4rem 0;
  background-size: cover;
  background-position-y: 40%;
  color: white;
}

.caseStudyHero h1 {
  background: rgb(183, 183, 183);
  background: linear-gradient(
    135deg,
    var(--clr-primary-700) 70%,
    rgba(59, 102, 176, 0) 100%
  );
  padding-left: 1rem;
  text-shadow: 2.5px 2px 0 var(--clr-primary-700);
}

.heroImage {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  grid-column: content;
  object-fit: cover;
  /* opacity: 0.45; */
  /* box-shadow: 3px 5px 5px rgba(80, 80, 80, 0.2); */
}

@media (max-width: 45em) {
  .caseStudyHero {
    grid-column: full-width;
  }
}

.mobileGif {
  border-radius: 10%;
}

.projectWrapper {
  display: grid;
  grid-template-areas:
    'header header'
    'para image';
}

.imgTextWrapper {
  display: grid;
  grid-template-areas:
    'header header'
    'image para';
}

.textImgWrapper {
  display: grid;
  grid-template-areas:
    'header header'
    'para image';
}

@media (max-width: 45em) {
  .projectWrapper,
  .imgTextWrapper,
  .textImgWrapper {
    grid-template-areas:
      'header'
      'para'
      'image';
  }
}

.projectWrapper h2,
.imgTextWrapper h2,
.textImgWrapper h2 {
  grid-area: header;
}

.projectWrapper .para,
.imgTextWrapper .para,
.textImgWrapper .para {
  grid-area: para;
  padding-right: 1.5rem;
}

.projectWrapper img,
.imgTextWrapper img,
.textImgWrapper img {
  grid-area: image;
  width: 85%;
  align-self: center;
  justify-self: center;
  filter: drop-shadow(5px 5px 5px rgba(80, 80, 80, 0.5));
}

.projectWrapper img {
  max-width: 250px;
}

.currentSiteImages,
.usabilityImages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.logoredesign,
.usabilityImage {
  width: 100%;
}

.currentImages {
  max-width: 250px;
}

.multiScreens {
  width: 100%;
}

/* CONTACT */
.flexLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.flexLink:hover {
  text-decoration: underline;
}

.contactWrapper {
  padding: 2rem 0 2rem 0;
}

/* FOOTER */

footer {
  background-color: var(--clr-primary-700);
  padding: 2rem 1rem 2rem 1rem;
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
  color: white;

  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 45rem) {
  footer {
    flex-direction: column;
  }

  .linkedInURL {
    display: none;
  }
}

footer p {
  margin: 0;
  /* padding: 0.25rem; */
}

.footerFont {
  font-size: 4rem;
}

.footerIcon {
  height: 2rem;
}

@media screen and (max-width: 45rem) {
  .FooterLogo {
    height: 2.5rem;
  }
}

.infoWrapper {
  align-self: start;
  display: grid;
  gap: 0.5rem;
}

.infoWrapper a {
  display: flex;
  align-items: center;
  color: white;
  gap: 0.5rem;
  /* text-decoration: underline; */
}

.infoWrapper a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 45rem) {
}
