@font-face {
  font-family: 'LinearIcons';
  src: url('./assets/fonts/Linearicons/Linearicons-Free.ttf');
}

@font-face {
  font-family: 'BLANKA';
  src: url('./assets/fonts/BLANKA\ Font/Blanka-Regular.otf');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --clr-primary-700: #674188;
  --clr-secondary-300: #c3acd0;
  --clr-neutral-200: #f7efe5;
  --clr-neutral-grey-300: rgb(171, 171, 171);
  --font-family-icon: LinearIcons, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  --logo-font: BLANKA, 'Courier New', Courier, monospace;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  position: relative;
}

.errorPage {
  display: grid;
  place-items: center;
  width: 100%;
}

.scr-only {
  font-family: var(--font-family-icon);
}

/* NAVIGATION */

.navigation {
  display: flex;
  /* background-color: var(--clr-neutral-200); */
  color: var(--clr-primary-700);
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  flex-wrap: wrap;
  box-shadow: 0 5px 5px rgba(80, 80, 80, 0.2);
  /* width: 100%; */
}

.mobileNavToggle {
  display: none;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  position: relative;
}

@media (max-width: 45em) {
  .navigation {
    padding: 1rem;
  }

  .navigation ul {
    position: fixed;
    inset: 0 0 0 35%;
    flex-direction: column;
    gap: 0.75em;
    background-color: white;
    box-shadow: -5px 0 5px rgba(80, 80, 80, 0.3);
    z-index: 2;
    padding: min(30vh, 7rem) 2rem;
    transform: translateX(110%);
    transition: 0.3s;
  }

  .navigation ul[data-visible='true'] {
    transform: translateX(0);
  }

  .mobileNavToggle {
    display: block;
    background-color: white;
    color: var(--clr-primary-700);
    padding: 0.5rem;
    font-size: 2.5rem;

    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    z-index: 999;
    border: none;
  }
}

.navigation li {
  font-weight: 500;
  font-size: 1.25rem;
  padding: 0.75rem;
}

a,
a:visited {
  text-decoration: none;
}

.navigation a {
  text-decoration: none;
  padding: 0.75rem 1rem 0.75rem 1rem;
  /* color: white; */
  position: relative;
}

.navigation a::before,
.navigation a.active::before {
  content: ' ';
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  height: 3px;
  width: 0;
  background-color: var(--clr-primary-700);
  transition: 0.3s;
}

.navigation a:hover::before,
.navigation a.active::before {
  width: 100%;
}

.navLogo {
  height: 2rem;
}

/* FOOTER */

footer {
  background-color: var(--clr-primary-700);
  padding: 2rem 1rem 2rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;

  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 650px) {
  footer {
    flex-direction: column;
  }

  .linkedInURL {
    display: none;
  }
}

footer p {
  margin: 0;
  padding: 0.25rem;
}

.FooterLogo {
  height: 4rem;
}

.footerIcon {
  height: 2rem;
}

@media screen and (max-width: 650px) {
  .FooterLogo {
    height: 2.5rem;
  }
}

.footerIcon:hover {
  height: 2.25rem;
}

.infoWrapper {
  display: grid;
  gap: 0.5rem;
}

.infoWrapper a {
  display: flex;
  align-items: center;
  color: white;
  gap: 0.5rem;
}

.infoWrapper a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 650px) {
  .infoWrapper {
    justify-items: center;
  }
}
